<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="author" content="Christofer Roy" />
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/new.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,800,400' rel='stylesheet' type='text/css'>
<link rel="image_src" href="{{ page.thumbnail }}" />
<script type="text/javascript" src="/js/jquery-2.1.3.min.js" ></script>
<script type="text/javascript" src="/js/functions.js"></script>
</head>
<body id="{{ page.tags }}">
<section id="content">
<nav><a href="/">&#8962;</a></nav>
<header>
<h1><a href="#">{{ page.title }}</a></h1>
</header>
<article>
{{ content }}
</article>
<footer>
<small>{{ page.date | date: "%x" }}</small>
</footer>
</section>
<script type="text/javascript">
var _gauges = _gauges || [];
(function() {
var t = document.createElement('script');
t.type = 'text/javascript';
t.async = true;
t.id = 'gauges-tracker';
t.setAttribute('data-site-id', '50e227ad613f5d56c900000d');
t.src = '//secure.gaug.es/track.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(t, s);
})();
</script>
</body>
